body{
    background-color: grey;
}

header{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

header img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: xx-large;
    display: inline;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: large;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
h6{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: medium;
}

main{
    background-color: white;
    border-radius: 10px;
}

aside{
    background-color: white;
}

footer{
    background-color: green;
    border-radius: 10px;
}

nav li{
    border: 2px solid white;
    background-color: green;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: black;
}


.active{
    background-color: darkgreen;
}

table{
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

table th, table td{
    border: 2px solid #F0F0F0;
}
Table tr:nth-child(even){
    background-color: #F2F2F2;
}
Table tr:hover{
    background-color: grey;
}
Table th{
    background-color: green;
    color: white;
}

.content-container {
    background-color: white;
    overflow: hidden; /* Clearfix */
}

.left-col{
    background-color: white;
    float: left;
    width: 50%;
}

.right-col{
    background-color: white;
    float: right;
    width: 30%;
}

