body{
    background-color: grey;
}

header{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

header img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: xx-large;
    display: inline;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: large;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: x-large;
    font-weight: bold;
}
h6{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: medium;
}

main{
    background-color: white;
    border-radius: 10px;
}

aside{
    background-color: white;
    align-items: center;
    display: flex;
    margin: 5px;
    margin-top: 30px;
    border-radius: 10px;
}

footer{
    background-color: green;
    border-radius: 10px;
}

nav li{
    border: 2px solid white;
    background-color: green;
    list-style-type: none;
    float: left;
    width: 12.5%;
    padding: 16px;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: black;
}


.active{
    background-color: darkgreen;
}

table{
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    table-layout: fixed;
    width: 80%;
    margin: 0 auto;
}

table th, table td{
    border: 2px solid #F0F0F0;
    font-size: 10pt;
    width: 12.5%;
    height: 10%;
    padding: 8px;
}
Table tr:nth-child(even){
    background-color: #F2F2F2;
}
Table tr:hover{
    background-color: grey;
}
Table th{
    background-color: green;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.content-container {
    background-color: white;
    overflow: hidden;
}

.left-col{
    background-color: white;
    float: left;
    width: 50%;
}

.right-col{
    background-color: white;
    float: right;
    width: 30%;
}

.recc-left-col,
.recc-right-col {
    background-color: white;
    float: left;
    width: 100%; /* Initially, both columns take up the full width */
}

@media (min-width: 768px) {
    /* Adjust width for larger screens */
    .recc-left-col,
    .recc-right-col {
        width: 50%; /* Each column takes up 50% of the width on screens larger than 768px */
    }
}

.aside-left-col {
    flex: 0 0 auto; /* Prevent shrinking */
    margin-right: 20px; /* Add some spacing between the image and text */
}

.aside-right-col {
    flex: 1; /* Allow text to expand and fill remaining space */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack text vertically */
} /*Allow text to expand and fill remaining space */


fieldset {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.gallery-img{
    margin: 5px;
    width: 100%;
}

.img-gallery{
    padding-top: 10px;
}

.img-gallery.row{
    margin-bottom: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-entry {
    margin: 20px;
    text-align: center; 
}

.video-entry h3 {
    margin-bottom: 10px; 
}

.video-entry iframe {
    width: 80%; 
    height: auto; 
}

.camera-container {
    text-align: center; /* Center-align all content */
    margin: 5px;
    margin-bottom: 30px;
    margin-right: 15px;
}

.title-container {
    margin: 6px;
    text-align: center; /* Center-align text within the container */
}